body{
	color:black;
	font:bold 20px/2em '楷体';
	background-image:url("images/8.jpg");
	background-position:center;
	background-size:100% auto;
	background-repeat:no-repeat;
	padding: 200px;
	height:100%;
}

h1{
	color:black;
}


th{
	width="100"
	font:bold 20px/1.2em '楷体';
	color: #673927;
	letter-spacing: 2px;
	height: 10px;
	color: black;
	border-bottom: 1.5px gray;
}

td{
	font: normal 15px/1.2em '楷体';
	color: #673927;
	height: 15px;
	etter-spacing: 2px;
	color: black;
	vertical-align: bottom;
}

textarea{
	font: normal 20px/1.5em '楷体';
}

table{
	table-layout:fixed;
	word-break:break-all;
	word-wrap:break-word;
	border: 10px groove lightgray;
	height:40px;
	width:600px;
	
}


.div-box{
    position: absolute;
    width: 80%;
    height: 100%;
    
}

.top{
	position:absolute;
	top:0%;
	font-size:em;
	
}

.bottom{
	position:absolute;
	top:65%;
	font-size:em;
	
}

.left{
	position:absolute;
	left:0%;
	top:5%;
	font-size:em;
}

.right{
	position:absolute;
	left:60%;
	top:5%;
	font-size:em;
}

button {
	color:white;
	background-color:#1E90FF;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
button:hover {
	text-decoration: none;
	background-color:white;
	color:#1E90FF;
}
button:active {
	position: relative;
	top: 1px;
}
